aside {
    grid-area: Sidebar;
    margin-left: 20px;
    position: sticky;
    top: 0;
    align-self: start; 
}

nav {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

nav > a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}

nav a:hover {
    opacity: .8;
}

.emoji {
    font-size: 30px;
}

@media (max-width: 800px) {
    aside {
        margin-left: 0;
    }

    a>span.label {
        display: none;
    }
}