header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.typing {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

#name {
    animation: show-cursor 0s forwards, typing-name 2s steps(14) forwards, hide-cursor 0s 2s forwards;
}

#job-title {
    animation: show-cursor 0s 2s forwards, typing-job-title 2s 2s steps(18) forwards, hide-cursor 0s 4s forwards;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    object-fit: cover;
}

/* animations */
@keyframes typing-name {
  from { width: 0; }
  to { width: 14ch; }
}

@keyframes typing-job-title {
  from { width: 0; }
  to { width: 18ch; }
}

@keyframes show-cursor {
  to { border-right: 0.15em solid black; }
}

@keyframes hide-cursor {
  to { border-right: none; }
}