.project-card {
    border-radius: 7px;
    box-shadow: 0 0 3px var(--text-color);
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.project-card>.screenshot {
    width: 360px;
    height: 300px;
    opacity: 0.7;
}

.project-card>.screenshot:hover {
    opacity: 1;
    cursor: pointer;
}

.project-card .github-logo {
    width: 25px;
    height: 25px;
}