#settings-bar {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 25px;
    margin-top: 25px;
    margin-right: 25px;
}

.theme-btn, .language-btn {
    all: unset;
    font-size: 30px;
    cursor: pointer;
}

.theme-btn:hover, .language-btn:hover {
    opacity: 0.8;
}

@media (max-width: 700px) {
    #settings-bar {
        flex-direction: column;
        align-items: end;
        margin-top: 5px;
        margin-right: 5px;
    }
}